$navColor: rgb(255, 223, 41);

.nav{
    
    border-bottom: rgb(61, 52, 0) 1px solid;
    .navbar {
    background-color: $navColor;
    display: flex;
    justify-content: space-around;
    padding: 0.75% !important;
    padding-bottom: 0% !important;

    .left,
    .right {
        display: flex;
        .item{
            align-items: center !important;
            background-color: $navColor;
            border: none;
        }
    }
}
}

